body {
    background-color:#fffbeb;;
    height: 1000px;
    width: 100%;
    font-family: 'Carter One', cursive;
    color:rgb(12, 129, 28);

}

h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.search-form {
    position: relative;
    padding: 10px;
    margin: 60px;
    max-width: 960px;
    height: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.search-form ul {
    position: absolute;
    padding: 10px;
    color: blue;
}

.suggestions li{
    background:white;
    list-style-type:none;
    border: 1px solid rgb(133, 133, 133);
    padding:20px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    text-transform: capitalize;
    list-style-position: inside;
    background-image:linear-gradient(to top,#c9ff06,#01c211,#8cf083 );
  
  }
  .suggestions{
    width: 756px;
    margin:40;
    position:relative;
    width: 756;
  }
